body {
    text-align: center;
    font-size: 30px;
    font-weight: 1000;
    background-color: #ccb5f1;
}

button {
    background: #332cf2;
    border: 0;
    border-radius: .375rem;
    color: #fff;
    cursor: pointer;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    transition: transform .2s;
    touch-action: manipulation;
}

button:hover {
  transform: scale(1.05);
  background: #11b3db;
}

#img_choixpeaux {
    width: 30%;
    height: 30%;
}

#intro_div {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#compteur {
    position: absolute;
    left: 50%;
}

.house_crest {
    margin-left: 6%;
    margin-right: 6%;
    width: 150px;
    height: 150px;
}

#question {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: xx-large;
}

#buttons_container {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 35%;
}

.buttons_group {
    width: auto;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer_button {
    width: 45%;
    height: 80%;
    margin: auto;
}

#results_neighbors_number {
    font-size: 20;
    margin-bottom: 5px;
    margin-top: 10px;
}

#slider_div {
    font-size: 20px;
    white-space: nowrap;
}

#slider_div * {
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
}

#left_results_crest {
    position: absolute;
    left: 7.5%;
    top: 22.5%;
    max-width: 300px;
    max-height: 300px;
}

#right_results_crest {
    position: absolute;
    right: 6%;
    top: 22.5%;
    max-width: 300px;
    max-height: 300px;
}

#results_house {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#results_table {
    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    width: 40%;
    max-height: 200px;
}

#results_table_text {
    font-size: 20px;
    font-weight: normal;
}

#restart_button {
    width: 85%;
    height: 15%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
